#editor {
    /*position: absolute;*/
    top: 25px;
    /*right: 700px;*/
    /*bottom: 100px;*/
    /*left: 130px;*/
    height: 400px;
}

#output {
    /*position: absolute;*/
    top: 25px;
    /*right: 100px;*/
    /*bottom: 100px;*/
    /*left: 700px;*/
    /*border: 1px solid grey;*/
    height: 400px;
}

#error {
    top: 600px;
}
