<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>PyCompiler</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='vendor/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/mpld3/mpld3.v0.5.1.js') }}"></script>
</head>

<body>
<div class="container">

    <div class="row m-auto">
        <h1>PyCompiler</h1>
    </div>

    <form action="/" method="POST" id="codeForm">
        <div class="row m-auto">
            <div class="col-5 m-auto" id="editor"># Your code here</div>
            <textarea name="editor" hidden></textarea>

            {% if is_chart %}
                <div class="figure col-5 m-auto" id="fig01"></div>
                <script>
                    var json_fig = {{ chart|tojson }}
                    var val_json = JSON.parse(json_fig)
                    mpld3.draw_figure("fig01", val_json)
                </script>
            {% else %}
                <textarea class="col-5 m-auto" id="output" disabled>{{ output }}</textarea>
            {% endif %}
        </div>
        <input class="btn btn-primary" type="submit" value="Run" id="runCode" form="codeForm">
    </form>

    <input class="btn btn-success" value="Clear" id="clearOutput">
    <hr>
    {% if error %}
        <p id="error" style="color: red">{{ error }}</p>
    {% endif %}


</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/ace/ace.js') }}"></script>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");

    $("#codeForm").submit(function () {
        var textarea = $('textarea[name="editor"]');
        textarea.val(editor.getValue());
    })

</script>

</body>
</html>
